{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
    .round-image {
  width: 50px; /* Set the width of the container */
  height: 50px; /* Set the height of the container to create a square shape */
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Hide the overflow to ensure the image is clipped to the circle */
}

.round-image img {
  width: 100%; /* Make the image fill the circular container */
  height: 100%; /* Make the image fill the circular container */
  object-fit: cover; /* Ensure the image covers the container */
}

</style>
{% if search_results %}
    <style>
        
        #pagination {
            display: none;
        }
    </style>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
        
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Show Sub Category</h4>
         
        
        <div class="container position-relative">
            <div class="input-wrapper">
                <input type="text" id="search-input" class="form-control" placeholder="Type to search...">
                <i id="cross" class="fa-solid fa-x position-absolute end-5 top-50 translate-middle-y"></i>
            </div>
        </div>
        <hr class="my-5" />

        <!-- Contextual Classes -->
       {% if sid1 < 1 %}
       <img style="margin-left: 250px;" src="{% static 'assets/img/avatars/tb.jpg' %}" alt class="w-px-500 h-auto rounded-circle" />
       <br>
       <div class="d-inline-flex " style="margin-left: 400px;">
        <a href="{% url 'add_sub_category' %}" class="btn btn-success cart-btn-transform m-3" data-abc="true">Add Sub Category</a>
        </div>
        </div>
       {% else %}
       <p id="no-results-message" style="display: none;">
       
        <img style="margin-left: 250px;" src="{% static 'assets/img/avatars/search.jpg' %}"class="w-px-400 h-auto rounded-circle" width="100pxpx" height="auto" />
        </p>
        <div class="card" id="search-results-div">
            <div class="up-down" style="display:flex; justify-content:space-between; width: 100%;background-color: aqua;">
                <div><h5 class="card-header" style="width:540% ;">Show Sub Category</h5></div>
                <div style="margin-top:10px;margin-right: 25px;"><button style="border-radius:50px;padding: 0 10px;"><a class="dropdown-item" style="text-decoration:none ;" href="{% url 'add_sub_category' %}"><i class="fa-solid fa-plus "></i> Add</a></button></div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" id="search-results">
                    <thead>
                        <tr>
                            <th><b style="font-size: 15px;">No</b></th>
                            <th class="Name " style="margin: 150px;"><b style="font-size: 15px;">M_Category</b></th>
                            <th class="Edit me-3" style="margin-left: 20px;"><b style="font-size: 15px;">S_Category</b></th>
                            <th class="Edit me-3" style="margin-left: 20px;"><b style="font-size: 15px;">Image</b></th>
                            <th class="Delete me-3" style="margin-left: 20px;"><b style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit</b></th>                            
                            <th class="Delete me-3" style="margin-left: 20px;"><b style="font-size: 15px;">Delete</b></th>                            

                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for i,n in sid %}
                        <tr class="table-default">
                            <td><strong>{{ n }}</strong></td>
                            <td><i class="fab  me-3"></i> <strong>{{i.mcategory}}</strong></td>
                            <td><i class="fab  me-3"></i> <strong>{{i.name}}</strong></td>
                            <td>
                                <div class="round-image">
                                <img width="50px" height="10%" src="{{i.image.url}}" />
                                </div>
                            </td> 
                            <td>
                                <a  style="color: red;text-decoration: none;" href="{% url 'edit_sub_category' i.id %}"  id="edit-link">
                                    <i class="fa fa-edit" ></i><b style="color: red;"> Edit</b>
                            </td>
                            <td>
                                <!-- <a class="dropdown-item" href="{% url 'delete_sub_category' i.id %}"><i
                                        class="bx bx-trash me-1"></i> Delete</a> -->
                                        <a href="#"   style="text-decoration: none;" class="delete-link" data-url="{% url 'delete_sub_category' i.id %}"><i class="fa fa-trash" style="color: red;text-decoration: none;"  > </i><b style="color: red;"> Delete</b> </a>       
            </div>
        </div>
        </td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
    </div>
</div>

{% endif %}
<!--/ Contextual Classes -->
</div>
{% if sid1 > show_page %}
<nav aria-label="..."  style="margin-left: -280px">
                        
    <ul class="pagination" style="margin-left: 900px;">
        {% if sid.has_previous %}
      <!-- <li class="page-item ">
        <a class="page-link" id="firstid" href="?page=1" tabindex="-1">First</a>
      </li> -->
      <li class="page-item ">
        <a class="page-link" href="?page={{sid.previous_page_number}}" tabindex="-1">Previous</a>
      </li>
      {% endif %}
      {% for i in sid.paginator.page_range %}
      {% if i == 3 and p1 >= i %}
      <li class="page-item">
          <span class="page-link">...</span>
      </li>
  {% elif i >= 3  and i <= p1 %}
      {# Skip numbers #}
  {% else %}
      <li class="page-item {% if sid.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
  {% endif %}
      {% endfor %}
      {% if sid.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{sid.next_page_number}}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
fsiudfhviudsgidfgfgfdg

<!-- / Content -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var deleteLinks = document.querySelectorAll('.delete-link');
        deleteLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default link behavior
                var deleteUrl = this.getAttribute('data-url');
                
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to delete this item.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'Cancel',
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms the deletion, navigate to the dynamic URL
                        window.location = deleteUrl;
                    }
                });
            });
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    {% for i in messages %}
        swal.fire("{{i}}");
    {% endfor %}
    // swal.fire("ok")
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-input").on("input", function () {
            var query = $(this).val();

            $.ajax({
                type: "GET",
                url: "{% url 'sub_searchview' %}",
                data: { query: query },
                success: function (data) {
                    var tableBody = $("#search-results tbody");
                    tableBody.empty(); // Clear previous search results

                    if (data.length === 0) {
                        // Hide the search-results-div and show the no-results message
                        $("#search-results-div").hide();
                        $("#no-results-message").show();
                        $(".pagination").hide();
                        tableBody.append('<tr><td colspan="5"><img src="static/assets/img/avatars/search.jpg" width="50px" height="auto" /> No data found.</td></tr>');
                    } else {
                        // Show the search-results-div and hide the no-results message
                        $("#search-results-div").show();
                        $("#no-results-message").hide();
                        $(".pagination").show(); 
                        data.forEach(function (item) {
                            var rowNumber = item.row_number;
                            var imageHTML = item.image_url ? 
                                '<img src="' + item.image_url + '" width="50px" height="auto" />' :
                                '<img src="/path/to/default-image.png" width="50px" height="auto" />';
                            var newRow = $("<tr>").append(
                                $("<td style='height: 50px;'>").html('<strong>' + rowNumber + '</strong>'),
                                // $("<td>").text(item.id),
                                $("<td>").html('<strong>' + item.mcategory + '</strong>'),
                                $("<td>").html('<strong>' + item.name + '</strong>'),
                                // $("<td>").text(item.mcategory),
                                // $("<td>").text(item.name),
                                
                                $("<td>").html('<div class="circular-image">' + imageHTML + '</div>'),
                                // $("<td>").html('<a href="' + item.edit_url + '"><i class="fa fa-edit"></i> Edit</a>'),
                                // $("<td>").html('<a href="' + item.delete_url + '"><i class="fa fa-trash"></i> Delete</a>')
                                    $("<td>").html('<a style="text-decoration: none;" href="' + item.edit_url + '"><i class="fa fa-edit" style="color: red;"></i> <b style="color: red;">Edit</b></a>'),
                                $("<td>").html('<a style="text-decoration: none;" href="' + item.delete_url + '"><i class="fa fa-trash"style="color: red;"></i> <b style="color: red;">Delete</b></a>'),
                            );
                            tableBody.append(newRow);
                        });
                    }
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Add an event listener to the clear icon
        $("#cross").on("click", function () {
            // Clear the input field
            $("#search-input").val('');

            // Trigger the input event to initiate a new search with an empty query
            $("#search-input").trigger('input');
        });

        $("#search-input").on("input", function () {
            var query = $(this).val();

            $.ajax({
                type: "GET",
                url: "{% url 'sub_searchview' %}",
                data: { query: query },
                success: function (data) {
                    var tableBody = $("#search-results tbody");
                    tableBody.empty(); // Clear previous search results

                    if (data.length === 0) {
                        // Hide the search-results-div and show the no-results message
                        $("#search-results-div").hide();
                        $("#no-results-message").show();
                        $(".pagination").hide();
                        tableBody.append('<tr><td colspan="5"><img src="static/assets/img/avatars/search.jpg" width="50px" height="auto" /> No data found.</td></tr>');
                    } else {
                        // Show the search-results-div and hide the no-results message
                        $("#search-results-div").show();
                        $("#no-results-message").hide();
                        $(".pagination").show(); 
                        data.forEach(function (item) {
                            var rowNumber = item.row_number;
                            var imageHTML = item.image_url ? 
                                '<img src="' + item.image_url + '" width="50px" height="auto" />' :
                                '<img src="/path/to/default-image.png" width="50px" height="auto" />';
                            var newRow = $("<tr>").append(
                                $("<td style='height: 50px;'>").html('<strong>' + rowNumber + '</strong>'),
                                // $("<td>").text(item.id),
                                $("<td>").html('<strong>' + item.mcategory + '</strong>'),
                                $("<td>").html('<strong>' + item.name + '</strong>'),
                                // $("<td>").text(item.mcategory),
                                // $("<td>").text(item.name),
                                
                                $("<td>").html('<div class="circular-image">' + imageHTML + '</div>'),
                                // $("<td>").html('<a href="' + item.edit_url + '"><i class="fa fa-edit"></i> Edit</a>'),
                                // $("<td>").html('<a href="' + item.delete_url + '"><i class="fa fa-trash"></i> Delete</a>')
                                    $("<td>").html('<a style="text-decoration: none;" href="' + item.edit_url + '"><i class="fa fa-edit" style="color: red;"></i> <b style="color: red;">Edit</b></a>'),
                                $("<td>").html('<a style="text-decoration: none;" href="' + item.delete_url + '"><i class="fa fa-trash"style="color: red;"></i> <b style="color: red;">Delete</b></a>'),
                            );
                            tableBody.append(newRow);
                        });
                    }
                }
            });
        });
    });
</script>

{% endblock %}